.contentone {


    .content-one {
        text-align: center;
        margin-top: 80px;

        span {
            font-size: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 203px;
        }

        p {
            padding-top: 15px;
            padding-bottom: 40px;
        }
    }

    .content-avatar {
        display: inline-block;
        padding: 0px 90px;

        img {
            border-radius: 50%;
            height: 163px;
            width: 163px;
        }

        img:hover {
            opacity: 0.5;
        }
    }
}