.header {
    height: 38px;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 2;
    overflow: hidden;
    right: 0;
    left: 0;

    .nav {
        position: relative;
        display: inline-block;

        .navbar {
            li {
                display: inline-block;
                position: relative;

                a {
                    text-decoration: none;
                    font-size: 15px;
                    color: #fff;
                    line-height: 38px;
                    display: inline-block;
                    padding: 0 16px;

                    .ti-home {
                        color: #fff;
                        font-size: 13px;
                        padding-right: 10px;
                    }

                    .ti-angle-down {
                        color: #fff;
                        font-size: 13px;
                    }

                }

                .subnav {
                    position: absolute;
                    display: none;

                    li {
                        display: block;
                        background-color: #ccc;

                        a {
                            padding-right: 100px;
                        }
                    }
                }

            }

            li:hover a {
                background-color: #ccc;
                color: #000;
            }

            li:hover .subnav {
                display: block;
            }

            .subnav li:hover a {
                background-color: #fff;
            }
        }
    }

    .ti-menu {
        color: #fff;
        display: none;
        float: right;
        line-height: 38px;
        padding: 0 20px;
    }

    .ti-search {
        color: #fff;
        display: inline;
        float: right;
        line-height: 38px;
        padding: 0 20px;
    }

    .ti-menu:hover,
    .ti-search:hover {
        background-color: #009688 !important;
        cursor: pointer;
    }
}

// mobile 
@media (max-width:740px) {
    .header {
        height: 38px;


        .nav {
            margin-top: 38px;
            width: 100%;

            .navbar {
                width: 100%;

                li {
                    display: inline;

                    a {
                        display: block;
                        text-align: inherit;
                    }
                }
            }
        }

        .ti-search {
            display: none;
        }

        .ti-menu {
            display: inline;
            top: 0px;
            right: 0px;
            position: absolute;
        }
    }
}